@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #bdc3c7;
}

header {
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100vw;
    margin: 0 auto;
    margin-bottom: 50px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 50vw;
}

th, tr {
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
}

tr>th {
    padding: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    border-bottom: 1px solid black;
}

tr:nth-child(odd):not(.table-headers) {
    background-color: #AAA;
}